.gold {
  color: #ecaf1c;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navMenuMargin {
  margin-left: 1rem;
}

.header {
  display: flex;
  height: 31.25rem;
  column-gap: 2rem;
  justify-content: space-around;
  align-items: center;
  padding-left: 2rem;
  margin-top: 64px;
}

.header h1 {
  font-size: 2.25rem;
  color: #fef8f5;
}

.header h2 {
  font-size: 1.25rem;
  color: #fef8f5;
}

.headerTextContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.headerPicture {
  align-self: flex-end;
}

.picture img {
  width: 25rem;
  height: 25rem;
}

.textGold {
  color: #ecaf1c;
}

.textRed {
  color: #ff5858;
}

.galleryTitle {
  /*display: flex;
  flex-direction: column;  Why was this here.... */
  background-color: #1b1d21;
  color: #fef8f5;
  padding: 1rem 2rem;
  border-top: 1.2px outset #222;
}

.galleryTitle h1 {
  font-size: 2rem;
  width: 14.375rem;
  border-bottom: 1px solid #ecaf1c;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  grid-gap: 0.2rem;
  grid-auto-rows: 15.625rem;
  padding: 0.5rem 2rem;
}

.galleryImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 0.1rem outset #222;
  border-radius: 5px;
}

.galleryImg:hover,
.galleryImg:focus,
.galleryImg:active {
  border-color: #ecaf1c;
  transition: 0.3s;
}

.aboutSection {
  display: flex;
  align-items: center;
  background-color: #121212;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  column-gap: 2rem;
}

.aboutTitle {
  background-color: #121212;
  color: #fef8f5;
  padding: 1rem 2rem;
  border-top: 1.2px outset #222;
}

.aboutTitle h1 {
  font-size: 2rem;
  width: 14.375rem;
  border-bottom: 1px solid #ecaf1c;
}

.aboutPicture {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
}

.aboutBio {
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: #fef8f5;
}

.footer {
  display: flex;
  flex-direction: column;
  border-top: 1px inset #ecaf1c;
  height: 250px;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  padding: 1rem 2rem;
  color: #fef8f5;
}

.footerTitle {
  color: #fef8f5;
}

.footerTitle h1 {
  font-size: 2rem;
  width: 14.375rem;
  border-bottom: 1px solid #ecaf1c;
}

.socialmedia {
  display: flex;
  column-gap: 1rem;
}

.socialIcons {
  font-size: 2rem;
  color: #fef8f5;
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
  color: #fef8f5;
  line-height: 1.6em; /* on mobile view this will make copyright text look less cramped */
}

.mobileNav {
  display: none;
}

.mobileNavItem {
  text-align: center;
}

.mobileNavIcons {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
}

@media only screen and (max-width: 832px) {
  .aboutSection {
    flex-direction: column;
  }

  .aboutBio {
    margin-top: 1rem;
    overflow: inherit;
  }
}

@media only screen and (min-width: 425px) and (max-width: 549px) {
  .header {
    column-gap: 0;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .headerPicture {
    width: 300px;
    height: 300px;
    align-self: center;
  }

  .aboutSection {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  .header {
    margin-top: 0;
    column-gap: 0;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .headerPicture {
    width: 300px;
    height: 300px;
    align-self: center;
  }

  .aboutSection {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .aboutPicture {
    width: 90vw;
    height: 35vh;
  }

  .mobileNav {
    display: flex;
    position: fixed;
    justify-content: space-around;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    height: 7rem;
    width: 100%;
    font-size: 1rem;
    border-top: 1px solid #ecaf1c;
    color: #fef8f5;
  }

  .nav {
    display: none;
  }

  .footer {
    flex-direction: column;
    margin-bottom: 3rem;
    align-items: center;
    margin-bottom: 7rem;
    border: none;
  }

  .footer a {
    text-align: center;
  }

  .footerTitle {
    text-align: center;
    align-self: center;
  }

  .socialmedia {
    justify-content: center;
  }

  .copyright {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
  }
}
