/* 
.container {

}
*/

.navMenuMargin {
  margin-left: 1rem;
}

.header {
  display: flex;
  justify-content: space-around;
  height: 31.25rem;
  background-color: #1b1d21;
  align-items: center;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.15));
}

.header h1 {
  font-size: 2.25rem;
  color: #fef8f5;
}

.header h2 {
  font-size: 1.25rem;
  color: #fef8f5;
}

.headerTextContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.picture {
  align-self: flex-end;
}

.picture img {
  width: 25rem;
  height: 25rem;
}

.textGold {
  color: #ecaf1c;
}

.textRed {
  color: #ff5858;
}

.portfolioSection {
  background-color: #1b1d21;
}

.portfolioTitle {
  display: flex;
  flex-direction: column;
  background-color: #1b1d21;
  color: #fef8f5;
  padding: 1rem 2rem;
}

.portfolioSection h1 {
  font-size: 2rem;
  width: 14.375rem;
  border-bottom: 1px solid #ecaf1c;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.2rem;
}

.galleryImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 0.1rem solid white;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .imageGrid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
